$primaryColor: darkcyan;
$secondaryColor: blue;

html {
  font-family: generalFont;
}

h1 {
  color: $primaryColor;
  text-align: center;
}

.container {
  &-subtitle {
    color: $secondaryColor;
    background: url("../images/einstain.png");
    text-align: center;
    display: flex;
    justify-content: center;
    height: 300px;
  }
}
